<div class="card-holder" ontouchstart="this.classList.toggle('hover');">
  
  <div class="card">
    
    <div class="front">
    </div>
    
    <div class="back">
      
      <div class="back__avatar-container">
        <img class="back__avatar" src="7772413.jpeg"/>
      </div>
      
      <div class="back__info">
        <h1 class="back__info__name">Scott Davis</h1>
        <h4 class="back__info__site">
          <a href="//sctdvs.co" target="_blank">sctdvs.co</a>
        </h4>
        <div class="back__info__divider"></div>
        <ul class="back__info__social fa-ul">
          <li>
            <a href="mailto:slrd88@gmail.com">
              <i class="fa-li fa fa-envelope"></i>
              hello@sctdvs.co
            </a>
          </li>
          <li>
            <a href="//twitter.com/sctdvs" target="_blank">
              <i class="fa-li fa fa-twitter"></i>
              @sctdvs
            </a>
          </li>
          <li>
              <a href="//github.com/sctdvs" target="_blank">
                <i class="fa-li fa fa-github"></i>
                /sctdvs
              </a>
          <li>
            <a href="//codepen.io/sctdvs" target="_blank">
              <i class="fa-li fa fa-codepen"></i>
              /sctdvs
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
